
body {

}h1
{
    font-size: 3rem;
    text-align: center;
    margin-top: 3rem ;
    color: red;
}


table{
    border: solid 0.1rem blue;
    margin: 2rem 5rem;
    text-align: center;
}

tr, th {
    line-height: 2rem ;
    border: solid 0.1rem blue;
    text-align: center;

}
th{
    font-weight: bold;
}

td:nth-child(1) {
    width: 2rem;
    border: solid 0.1rem blue;

}
td:nth-child(2) {
    width: 15rem;
    border: solid 0.1rem blue;
}
td:nth-child(3) {
    width: 15rem;
    border: solid 0.1rem blue;
}
td:nth-child(4) {
    width: 8rem;
    border: solid 0.1rem blue;
}
td:nth-child(5) {
    width: 8rem;
    border: solid 0.1rem blue;
}

form{

    margin :2rem 10rem ;
}
p {
    margin: 1rem;
}

label{
    width: 5rem;
    display: inline-block;
}

input {
    background: #d3fffc;
    padding: 0.5rem;
}